
/* Styles how the elements are arranged on the page */
header,
nav,
nav ul,
main,
footer,
footer ul,
#work,
img, p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Adds background color to the page*/
body {
background-color: rgb(40, 54, 24);
}

/* Changes the color of these elements and the links on the page */
header, nav ul, 
footer ul, a {
color: rgb(188, 108, 37);
}

/* Adds color to the header */
header {
    background-color: rgb(96, 108, 56);
}

/* Increases the size of the items in the nav and footer */
/* Adds background color for better visibility */
nav,
footer {
    font-size: 25px;
    background-color: rgb(40, 54, 24);
}

/* Styles the background color of the main content */
main {
    background-color: rgb(254, 250, 224);

}

/* Removes bullet points & add space between items in the nav/footer */
ul {
    list-style-type: none;
    padding: 10px;
    gap: 10px;

}

/* Increases size of the first image */
#semantic img {
    max-width: 45vw;
    max-height: 45vh;
}

/* All other images are the same size */
img {
    max-width: 30vw;
    max-height: 30vh;
    padding: 15px;
}
