header,
nav,
nav ul,
main,
footer,
footer ul,
#work,
img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body {
background-color: rgb(40, 54, 24);
}

header, nav ul, 
footer ul, a {
color: rgb(188, 108, 37);
}

header {
    background-color: rgb(96, 108, 56);
}

nav,
footer {
    font-size: 25px;
    background-color: rgb(40, 54, 24);
}

main {
    background-color: rgb(254, 250, 224);

}

ul {
    list-style-type: none;
    padding: 10px;
    gap: 10px;

}

#semantic img {
    max-width: 45vw;
    max-height: 45vh;
}

img {
    max-width: 30vw;
    max-height: 30vh;
    padding: 15px;
}
