/* * {
    border-color: red;
    border-style: dashed;
    border-width: 1px;
    
} */




header {
    background-color: rgb(96, 108, 56);
    color: rgb(188, 108, 37);
}

nav, nav ul, main,
footer, footer ul {
    display:flex;
    flex-wrap: wrap;
}

nav {

    background-color: rgb(40, 54, 24);
    justify-content: end;
    align-items: center;
    
}

nav ul {
    list-style-type: none;
    padding: 10px;
    gap: 10px;

}

main {
    flex-wrap: wrap;
    background-color: rgb(254, 250, 224);
    
}

.left-side {
    border-right: 6px solid red;
    /* height: 500px;
    padding: 20px; */
}

#semantic img {
    position: relative;
    max-width: 40em;
    max-height: 40em;
}

#prework img {
    max-width: 25em;
    max-height: 25em;
}

footer {
    background-color: rgb(96, 108,56);
    justify-content: center;
    align-items: center;
}

footer ul {
    color: rgb(188, 108, 37);
    list-style-type: none;
    padding: 10px;
    gap: 10px;
}



/*  
 @media screen and (max-width: 992px) {
     header {
         background: #772014;
     }
 }

 
 @media screen and (max-width: 768px) {
     nav {
         background-color: #bb8588;
     }
 }


 @media screen and (max-width: 576px) {
     .sample-img {
         background-color: #8ac4ff;
     }
 } */

 /* .subtitles {
    border-right: 5px dashed gray;
    text-align: center;
 } */