body {
background-color: rgb(40, 54, 24);
}

header, nav ul, footer ul {
color: rgb(188, 108, 37);
}

nav, nav ul, main,
footer, footer ul, #work {
    display:flex;
    flex-wrap: wrap;
}

header {
    background-color: rgb(96, 108, 56);
}

a {
    color: rgb(188, 108, 37);
}

nav {

    background-color: rgb(40, 54, 24);
    justify-content: end;
    align-items: center;
    
}

nav ul {
    list-style-type: none;
    padding: 10px;
    gap: 10px;

}

main {
    flex-wrap: wrap;
    background-color: rgb(254, 250, 224);
    
}

#work {
    justify-content: center;
    align-items: center;
}

.left-side {
    /* border-right: 6px solid red; */
    /* height: 500px;
    padding: 20px; */
}

#semantic img {
    max-width: 25em;
    max-height: 25em;
}

img {
    display: flex;
    flex-wrap: wrap;
    max-width: 10em;
    max-height: 10em;
}

footer {
    background-color: rgb(96, 108,56);
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style-type: none;
    padding: 10px;
    gap: 10px;
}



/*  
 @media screen and (max-width: 992px) {
     header {
         background: #772014;
     }
 }

 
 @media screen and (max-width: 768px) {
     nav {
         background-color: #bb8588;
     }
 }


 @media screen and (max-width: 576px) {
     .sample-img {
         background-color: #8ac4ff;
     }
 } */

 /* .subtitles {
    border-right: 5px dashed gray;
    text-align: center;
 } */